h1 {
    color: blue;
}

#nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d9d8d0;
    height: 2em;
}

#nav-bar div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 100px;
}

#nav-bar div:hover {
    background-color: #f2f1f1;
}